@model IEnumerable<BartenderApp.Models.Drink>

@{
    ViewBag.Title = "Order";
}

<h2>Order Queue</h2>

@foreach (var p in Model)
{
    <div class="well">
        <h3>
            <strong>@p.Name</strong>
        </h3>

        <div class="pull-right">
            <span class="btn btn-sm btn-default">
                @Html.ActionLink("Pass this object's values", "Order", "Home", p, null)
        </span>
    </div>


    @*@Html.ActionLink("Menu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@


    <span class="lead"> @p.Description</span>
</div>

}

