@model IEnumerable<BartenderApp.Models.Drink>

@{
    ViewBag.Title = "Ordered";
}

<h2>Order Queue</h2>

@foreach (var p in Model)
{
    <div class="well">
        <h3>
            <strong>@p.Name</strong>
        </h3>

        <div class="pull-right">
            <span class="btn btn-sm btn-default">
                @Html.ActionLink("Prepare Drink", "Prepared", "Queue", p, null)  @*Create method to remove from Orders List*@
            </span>
        </div>

        <span class="lead"> @p.Description</span>
    </div>
}